@use "variables" as *;

.blog {
  background-color: $tertiaryColor;

  .BlogWrapper {
    width: 85%;
    margin: 0 5%;
  }

  .blogMain {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 80vh;
    position: relative;
    margin-bottom: .5rem;

    .heroImage {
      position: absolute;
      left: 12%;
      top: 267%;
      width: 80%;
      // left: 10%;
      // top: 55%;
      // width: 90%;
      box-shadow: -1rem 1rem #86e0f9;
    }

    h2 {
      font-size: 2.5rem;
      margin: 9% 12% 0 0px;
    }
  }

  .aside {
    width: 100%;
    position: relative;

    .whaleImage {
      position: absolute;
      top: 6%;
      left: 0%;
      width: 100%;
    }

    .asideBox {
      width: 87%;
      margin-left: 17%;
      height: 25%;
      margin-top: 40%;
      padding-top: 45%;
      background-color: $secondaryColor;

      .underArticle {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;

        ul {
          list-style: circle;
        }
      }
    }
  }
}

.blogIntro {
  width: 90%;
  margin-top: 3.2%;
  margin-left: 6.9%;

  .species {
    border-bottom: 5px solid $primaryColor;
    border-left: 5px solid $primaryColor;
    margin-left: -0.2%;
    margin-top: 82%;
    // margin-top: 41%;
  }

  .explaination {
    padding-top: 1rem;

    .discoverSpeciesDate {
      margin: 55px 35px;
      padding: 0.1rem;

      h2 {
        font-size: 2.1rem;
        // margin: 12rem 0;
      }

      p {
        margin: 0;
      }
    }

    p {
      margin-left: 35px;
    }
  }

  h4 {
    font-size: 1.7rem;
    letter-spacing: 0rem;
    margin: 1.4rem auto;
  }

  .commentBox {
    max-width: 90%;
    margin: 10px auto;

    #name,
    #email {
      border: none;
      color: white;
      display: inline-block;
      width: 43.5%;
      height: 1REM;
      border-bottom: 2px solid $primaryColor;
      background-color: transparent;
    }

    textarea {
      resize: none;
      display: block;
      width: 88%;
      border: 2px solid $primaryColor;
      background-color: transparent;
      color: white;
    }
  }

  .blogSubmit {
    width: 90%;
    height: 2.25rem;
    background-color: $secondaryColor;
  }
}

form {
  button {
    color: white;

  }
}

.commentsPics {
  img {
    height: 25%;
    width: 30%;
    margin-top: 25px;
    margin-right: 20px;
  }

  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.faIcons {
  font-size: .8rem;
}

@media (min-width: 460px) {
  .blog header .heroImage {
    left: 11%;
    // top: 347%;
    // width: 83%;
  }
}

@media (min-width: 540px) {
  .blog {
    header {
      .heroImage {
        left: 10%;
        top: 281%;
      }
    }


    .aside {
      .asideBox {
        width: 75%;
        margin-top: 40%;
      }

      .whaleImage {
        top: 11%;
        width: 90%;
      }
    }
  }
}

@media (min-width: 640px) {
  .blog header .heroImage {
    left: 9.9%;
    top: 295%;
  }
}

@media (min-width: 720px) {
  .blog header .heroImage {
    left: 9.4%;
    top: 320%;
  }
}

@media (min-width: 790px) {
  .blog .blogMain {
    flex-direction: row;
  }

  .blog header {
    h2 {
      margin: 16% -13% 0 0px;
    }

    .heroImage {
      left: 50%;
      top: 65%;
      width: 50%;
    }
  }

  .blog .aside {
    width: 70%;
  }

  .blog .aside .whaleImage {
    top: 1%;
  }

  .blog .aside .asideBox {
    margin-top: 12%;
    padding-top: 70%;
  }

  .blogIntro .species {
    margin-left: 0.8%;
    margin-top: 0%;
  }
}

@media (min-width: 950px) {
  .blogIntro {
    width: 100%;
  }

  .blog header .heroImage {
    left: 47%;
    top: 67%;
    width: 53%;
  }

  .blogIntro .species {
    margin-left: 0.3%;
    margin-top: 10%;
  }

  .blog .aside .asideBox {
    margin-top: 12%;
    padding-top: 70%;
  }

}

@media (min-width: 1010px) {
  // .blog header {
  //     height: 50vh;
  // }

  .blog .aside {
    .asideBox {
      margin-top: 30%;
      padding-top: 70%;
      height: 20%;
    }

    .whaleImage {
      top: 4%;
    }
  }
}

@media (min-width: 1100px) {
  .blog header {
    // height: 60vh;

    h2 {
      margin: 18% -6% 0 0px;
    }
  }

  .blogIntro .species {
    margin-top: 25%;
  }


}

@media (min-width: 1240px) {
  .blogIntro .species {
    margin-top: 35.1%;
    margin-left: -2.1%;
  }

  .blog {
    .aside {
      width: 60%;
    }

    header {
      // height: 58vh;

      .heroImage {
        left: 43%;
        top: 70%;
        width: 57%;
        box-shadow: -1.75rem 1.75rem #86e0f9;
      }
    }
  }
}

@media (min-width: 1300px) {
  .blog header {
    // height: 65vh;
  }

  .blog .aside .asideBox {
    height: 22%;
  }

  .blogIntro .species {
    margin-top: 33.1%;
    margin-left: -2.5%;
  }
}

@media (min-width: 1360px) {
  .blogIntro .species {
    margin-top: 33.1%;
    margin-left: -2.2%;
  }

  .blog .aside .asideBox {
    margin-top: 26%;
    padding-top: 70%;
    height: 22%;
  }
}

@media (min-width: 1460px) {
  .blog header h2 {
    margin: 14% 5% 0 0px;
  }

  .blog header .heroImage {
    left: 42%;
    top: 62%;
    width: 58%;
  }

  .blogIntro .species {
    margin-left: -3.5%;
  }


}

@media (min-width: 1600px) {
  .blog .aside .asideBox {
    margin-left: 15%;
  }


  .blogIntro .species {
    margin-left: -5.4%;
    margin-top: 33%;
  }

  .blog header {
    .heroImage {
      left: 41%;
      width: 60%;
      top: 64.7%;
    }
  }

  .blog .aside .asideBox {
    margin-left: 17%;
    margin-top: 23%;
  }
}

@media (min-width: 1700px) {
  .blog header {
    h2 {
      margin: 11.9% 7.5% 0 0px;
    }
  }

  .blog header .heroImage {
    left: 42%;
    top: 60.3%;
  }

  .blogIntro .species {
    margin-left: -3.4%;
    margin-top: 39.5%;
  }
}

@media (min-width: 1800px) {
  .blog header {
    h2 {
      margin: 11.9% 7.5% 0 0px;
    }

    .heroImage {
      left: 39%;
      width: 61%;
      top: 61.3%;
    }

    .aside {
      width: 50%;

      .asideBox {
        margin-left: 21%;
        height: 22%;
        width: 72%;
        margin-top: 18%;
        padding-top: 75%;
      }

      .whaleImage {
        position: absolute;
        top: 3%;
        width: 90%;
        left: 0%;
      }

    }
  }

  .blogIntro .species {
    margin-left: -8.6%;
    margin-top: 41.5%;
  }

}

@media (min-width: 1900px) {
  .blog header {
    .heroImage {
      left: 39%;
    }

    h2 {
      margin: 10.9% 13.5% 0 0px;
    }
  }
}

@media (min-width: 2200px) {

  .blog header {

    .heroImage {
      left: 41%;
      top: 61.4%;
      width: 60%;

    }
  }

  .blogIntro .species {
    margin-left: 1.6%;
    margin-top: 36%;
  }

  .blog .aside {
    .asideBox {
      margin-left: 36%;
      height: 20%;
      width: 76%;
      margin-top: 22%;
      padding-top: 75%;
    }

    .whaleImage {
      width: 110%;
    }
  }
}

@media (min-width: 2500px) {}

@media (min-width: 2700px) {}


@media (min-width: 3230px) {}


@media (min-width: 4200px) {}