@use "variables" as *;

.blog {
  background-color: $tertiaryColor;

  .BlogWrapper {
    width: 85%;
    margin: 0 5%;
  }

  .blogMain {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 45vh;
    position: relative;

    .heroImage {
      position: absolute;
      left: 10%;
      top: 55%;
      width: 90%;
      box-shadow: -1rem 1rem #86e0f9;
    }

    h2 {
      font-size: 2.5rem;
      margin: 10% 12% 0 0px;
    }
  }

  .aside {
    width: 100%;
    position: relative;
    margin-top: 3rem;

    .whaleImage {
      position: absolute;
      top: 9%;
      left: 0%;
      width: 100%;
    }

    .asideBox {
      width: 87%;
      margin-left: 17%;
      height: 25%;
      margin-top: 40%;
      padding-top: 75%;
      background-color: $secondaryColor;

      .underArticle {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;

        ul {
          list-style: circle;
        }
      }
    }
  }
}

.blogIntro {
  width: 90%;
  margin-top: 3.2%;
  margin-left: 6.9%;

  .species {
    border-bottom: 5px solid $primaryColor;
    border-left: 5px solid $primaryColor;
    margin-left: -0.2%;
    margin-top: 41%;
  }

  .explaination {
    .discoverSpeciesDate {
      margin: 55px 35px;

      h2 {
        font-size: 2.3rem;
        margin: 0;
      }

      p {
        margin: 0;
      }
    }

    p {
      margin-left: 35px;
    }
  }

  h4 {
    font-size: 1.7rem;
    letter-spacing: 0rem;
    margin: 1.4rem auto;
  }

  .commentBox {
    max-width: 60%;
    margin: 10px auto;

    #name,
    #email {
      border: none;
      color: white;
      display: inline-block;
      width: 40%;
      height: 20px;
      border-bottom: 2px solid $primaryColor;
      background-color: transparent;
    }

    textarea {
      resize: none;
      display: block;
      width: 50%;
      border: 2px solid $primaryColor;
      background-color: transparent;
      color: white;
    }
  }

  .blogSubmit {
    width: 90%;
    height: 50px;
    background-color: $secondaryColor;
  }
}

form {
  button {
    color: white;

  }
}

.commentsPics {
  img {
    height: 25%;
    width: 30%;
    margin-top: 25px;
    margin-right: 20px;
  }

  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.faIcons {
  font-size: .8rem;
}