@use "variables" as *;

header {
    height: 90vh;

    .underTitle {
        display: flex;
        width: 100%;

        h1 {
            font-size: 4.4rem;
            padding: 0px 18% 0px;

        }
    }
}

.indexHeader {
    background-image: url(../under-the-sea-assets/header-image.jpg)
}

.blogHeader {
    background-image: url(../under-the-sea-assets/blog-header.jpg);


}

.contactHeader {
    background-image: url(../under-the-sea-assets/contact-header.jpg);
    height: 55vh;
}

.contactHeader,
.blogHeader,
.indexHeader {
    background-size: cover;
    background-repeat: no-repeat;

}

.headerContent {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;


    img {
        width: 100%;
        margin-top: 5%;
    }

}


// @media (min-width: 460px) {
//     h1 {
//         font-size: 4.8rem;
//     }

// }

// @media (min-width: 540px) {
//     h1 {
//         font-size: 5.4rem;
//     }

// }

// @media (min-width: 840px) {
//     header {
//         height: 100vh;
//     }

//     .headerContent {
//         flex-direction: row;
//     }

// }



// @media (min-width: 2200px) {}

// @media (min-width: 2500px) {}

// @media (min-width: 2700px) {}

// @media (min-width: 3200px) {}