@use "variables" as *;

header {
    height: 100vh;

    .underTitle {
        display: flex;

        h1 {
            font-size: 6rem;
            padding: 0px 18% 0px;

        }
    }
}

.indexHeader {
    background-image: url(../under-the-sea-assets/header-image.jpg)
}

.blogHeader {
    background-image: url(../under-the-sea-assets/blog-header.jpg);


}

.contactHeader {
    background-image: url(../under-the-sea-assets/contact-header.jpg);
    height: 55vh;
}

.contactHeader,
.blogHeader,
.indexHeader {
    background-size: cover;
    background-repeat: no-repeat;

}

.headerContent {
    display: flex;
    justify-content: flex-end;

    img {
        width: 80%;
        margin-top: 5%;
    }

}




@media (min-width: 1600px) {
    h1 {
        border: 5px solid rebeccapurple;
    }
}

@media (min-width: 1900px) {
    h1 {
        border: 5px solid green;
    }
}

@media (min-width: 2200px) {
    h1 {
        border: 5px solid blue;
    }
}