@use "variables" as *;

header {
    height: 100vh;

    .underTitle {
        display: flex;
        width: 45%;

        h1 {
            font-size: 6rem;
            padding: 0px 18% 0px;

        }
    }
}

.indexHeader {
    background-image: url(../under-the-sea-assets/header-image.jpg)
}

.blogHeader {
    background-image: url(../under-the-sea-assets/blog-header.jpg);


}

.contactHeader {
    background-image: url(../under-the-sea-assets/contact-header.jpg);
    height: 55vh;
}

.contactHeader,
.blogHeader,
.indexHeader {
    background-size: cover;
    background-repeat: no-repeat;

}

.headerContent {
    display: flex;
    justify-content: flex-end;

    img {
        width: 55%;
        margin-top: 5%;
    }

}




@media (min-width: 1600px) {}

@media (min-width: 1900px) {}

@media (min-width: 2200px) {}

@media (min-width: 2500px) {}

@media (min-width: 2700px) {}

@media (min-width: 3200px) {}