@use "variables" as *;

// .underSea {
//     height: 100vh;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     display: flex;
// }









.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    // padding: 100px;


    .galleryBox {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }

    .galleryBoxImg {
        margin: 1.5% auto;
        width: 60%;

        img {
            width: 100%;
        }
    }
}


// @media (min-width: 1600px) {
//     .gallery li img {
//         width: 100%;
//     }
// }

// @media (min-width: 1900px) {
//     .gallery li img {
//         width: 135%;
//     }
// }


// @media (min-width: 2200px) {
//     .gallery {
//         height: 55vh;

//         li {
//             img {
//                 width: 155%;
//             }
//         }
//     }
// }