@use "variables" as *;


.monthProfile {
    height: 70vh;
    // display: flex;
    // img {
    //     border: 25px solid $primaryColor;
    // }

    .profileContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;

        .monthFish {
            display: flex;
            justify-content: center;
            align-content: center;
            position: relative;
            width: 60%;
            // left: -30px;
            // top: 30px;

            .fishSchool {
                position: absolute;
                top: -12rem;
                left: -4rem;
                box-shadow: 1rem 1rem #86e0f9;
                width: 100%;
            }

        }

        .monthText {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            display: flex;

            p {
                line-height: 1.3rem;
            }

            button {
                margin: 1rem 0;
            }


        }

    }
}