@use "variables" as *;


@media (min-width: 460px) {
    header {
        height: 110vh;

        .underTitle {
            h1 {
                font-size: 4.8rem;
            }
        }
    }

    .gallery {
        height: 110vh;
    }

    .indexMain .whatIsUnder {
        margin-top: 6rem;
    }

}

@media (min-width: 540px) {
    header {
        height: 120vh;

        .underTitle {
            h1 {
                font-size: 5.4rem;
            }
        }
    }

    .indexMain .whatIsUnder {
        margin-top: 12rem;
    }

    .gallery {
        height: 130vh;
    }

    .monthText {
        margin-top: 4rem;
    }
}

@media (min-width: 640px) {
    header {
        height: 120vh;

        .underTitle {
            h1 {
                font-size: 5.4rem;
            }
        }
    }

    .gallery {
        height: 145vh;
    }

    .discover {
        height: 155vh;

        img {
            width: 80%;
        }
    }

}

@media (min-width: 720px) {
    .blog header .heroImage {
        left: 9.4%;
        top: 320%;
    }

    .gallery {
        height: 160vh;
    }

    .monthProfile {
        height: 80vh;

        .profileContainer {
            flex-direction: row;
        }
    }
}

@media (min-width: 790px) {
    header {
        height: 55vh;

        .underTitle {
            h1 {
                font-size: 6rem;
            }
        }
    }

    .headerContent {
        flex-direction: row;
    }

    .navBar {
        height: 15%;
    }

    html {
        font-size: 100%;
    }

    .indexMain {
        height: 60vh;

        .whatIsUnder {
            margin-top: 0rem;
        }
    }

    .gallery {
        height: 60vh;

        .galleryBox {
            flex-direction: row;
        }

        .galleryBoxImg {
            margin: auto 1.5%;
            width: 60%;
        }
    }

    .monthProfile {
        height: 50vh;

        .profileContainer .monthFish .fishSchool {
            top: -11rem;
        }

        .profileContainer .monthText {
            margin-bottom: 10%;
        }
    }

}

@media (min-width: 950px) {
    header {
        height: 65vh;
    }

    .discover .discoverBox1,
    .discover .discoverBox2 {
        flex-direction: row;
    }

    .discover {
        height: 70vh;
    }

    .connectionsSub {
        height: 80vh;
        flex-direction: row;

        .connectionsSub__info {
            width: 40%;
        }
    }


}

@media (min-width: 1010px) {
    // .blog header {
    //     height: 50vh;
    // }

    .blog .aside {
        .asideBox {
            margin-top: 30%;
            padding-top: 70%;
            height: 20%;
        }

        .whaleImage {
            top: 4%;
        }
    }
}

@media (min-width: 1100px) {
    header {
        height: 75vh;
    }

    .discover {
        height: 80vh;
    }

    .monthProfile {
        height: 60vh;
    }

    html {
        font-size: 110%;
    }

    .blog header {
        // height: 60vh;

        h2 {
            margin: 18% -6% 0 0px;
        }
    }

    .blogIntro .species {
        margin-top: 25%;
    }


}

@media (min-width: 1240px) {
    .banner {
        background-size: cover;
        height: 65vh;
    }

    header {
        height: 85vh;
    }

    .discover {
        height: 85vh;
    }

    .monthProfile {
        height: 70vh;
    }
}

@media (min-width: 1300px) {
    html {
        font-size: 120%;
    }

    .discover {
        height: 92vh;
    }

    .indexMain {
        height: 65vh;
    }

    .connectionsSub {
        height: 90vh;
    }
}

@media (min-width: 1360px) {
    .discover {
        height: 100vh;
    }

    header {
        height: 90vh;

        .underTitle h1 {
            font-size: 7rem;
        }
    }

}

@media (min-width: 1460px) {
    .discover {
        height: 105vh;
    }

    .monthProfile {
        height: 80vh;

        .profileContainer .monthFish .fishSchool {
            left: 0rem;
            width: 80%;
        }

    }

    header {
        height: 100vh;
    }

}

@media (min-width: 1600px) {
    html {
        font-size: 135%;
    }

    header {
        height: 110vh;
    }

    .discover {
        height: 112vh;
    }

    .monthProfile {
        height: 80vh;
    }

    .gallery {
        height: 80vh;
    }
}

@media (min-width: 1700px) {
    .discover {
        height: 120vh;
    }

    header {
        height: 115vh;
    }
}

@media (min-width: 1800px) {
    .connectionsSub {
        height: 100vh;
    }

    .indexMain {
        height: 75vh;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 150%;
    }

    .discover {
        height: 133vh;
    }

}

@media (min-width: 2200px) {
    html {
        font-size: 165%;
    }

    .blog header {

        .heroImage {
            left: 41%;
            top: 61.4%;
            width: 60%;

        }
    }

    .blogIntro .species {
        margin-left: 1.6%;
        margin-top: 36%;
    }

    .blog .aside {
        .asideBox {
            margin-left: 36%;
            height: 20%;
            width: 76%;
            margin-top: 22%;
            padding-top: 75%;
        }

        .whaleImage {
            width: 110%;
        }
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 195%;
    }

}

@media (min-width: 2700px) {
    html {
        font-size: 235%;
    }
}

@media (min-width: 3230px) {
    html {
        font-size: 300%;
    }
}

@media (min-width: 4200px) {
    html {
        font-size: 400%;
    }
}