// COLOURS:
$primaryColor:#86e0f9 ;
$secondaryColor: #0f614e;
$tertiaryColor: #0c1423;
$white:#fff;

//fonts:
$headingFont:"Barlow";
$bodyFont:"Lato";
$baseFont:1rem;// COLOURS:
$primaryColor:#86e0f9 ;
$secondaryColor: #0f614e;
$tertiaryColor: #0c1423;
$white:#fff;

//fonts:
$headingFont:"Barlow";
$bodyFont:"Lato";
$baseFont:1rem;