@font-face {
  font-family: Barlow;
  src: url("../fonts/Barlow/Barlow-Bold.ttf");
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}
html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-size: 1rem;
  color: #fff;
}

h1, h2, h3, h4, nav, button {
  font-family: "Barlow";
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 7rem;
  line-height: 6rem;
}

h2 {
  font-size: 3rem;
  line-height: 4.5rem;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 0.5rem;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
}

/* _baseStyles.scss */
header h2 {
  text-align: center;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

body {
  margin: 0;
  height: 100%;
}

button {
  background-color: #86e0f9;
  padding: 15px 45px;
  border: none;
  margin: 20px auto;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #86e0f9;
  color: #fff;
}
button:focus {
  background-color: #86e0f9;
  color: #fff;
}

.indexMain, .connections, .monthProfile {
  background-color: #0c1423;
}

.discover, .gallery {
  background-color: #0f614e;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 17px;
}
a:hover {
  color: #86e0f9;
}
a:focus {
  color: #86e0f9;
}
a img {
  max-width: 100%;
  display: block;
  height: auto;
}
a .fa-solid {
  color: #fff;
}

header {
  height: 95vh;
}

h1 {
  padding: 0px 40px 0px 90px;
}

.indexHeader {
  background-image: url(../under-the-sea-assets/header-image.jpg);
}

.blogHeader {
  background-image: url(../under-the-sea-assets/blog-header.jpg);
}

.contactHeader {
  background-image: url(../under-the-sea-assets/contact-header.jpg);
  height: 60vh;
}

.contactHeader, .blogHeader, .indexHeader {
  background-size: cover;
  background-repeat: no-repeat;
}

.headerContent {
  display: flex;
  position: absolute;
}
.headerContent img {
  position: relative;
  right: 0;
  bottom: -96px;
}

.navBar {
  z-index: 10;
  display: flex;
  color: #fff;
  justify-content: end;
}
.navBar li {
  list-style: none;
}

.toggleButton {
  display: none;
  z-index: 10;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}

.toggleButton:hover {
  background-color: rgba(0, 0, 0, 0.123);
}

.navBarLinks ul {
  display: flex;
}

.underSea {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.discoverBox1, .discoverBox2 {
  height: 50%;
  display: flex;
  width: 100%;
}
.discoverBox1 button, .discoverBox2 button {
  background-color: #0c1423;
  color: #fff;
}
.discoverBox1 div, .discoverBox2 div {
  width: 50%;
  margin: 0 30px;
}

.discoverContent {
  display: flex;
  flex-direction: column;
}

.discoverImage1 {
  position: relative;
  top: -20px;
  left: -30px;
}
.discoverImage1 img {
  box-shadow: 45px 45px #86e0f9;
}

.discoverImage2 {
  position: relative;
  bottom: -47px;
  right: -70px;
}
.discoverImage2 img {
  box-shadow: -45px 45px #86e0f9;
}

.connections {
  margin-top: 63px;
  margin-bottom: 10px;
}

.connectionsSub {
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.connectionsSub div {
  width: 40%;
  padding: 35px 35px;
}

.profileContainer {
  display: flex;
}

.monthProfile {
  height: 60vh;
}

.banner {
  background-image: url(../under-the-sea-assets/banner.jpg);
  height: 65vh;
}

.monthFish {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  left: -30px;
  top: 30px;
}
.monthFish img {
  box-shadow: 20px 20px #86e0f9;
}

.monthText {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
  display: flex;
  margin-left: 150px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45vh;
  padding: 100px;
}

.blog {
  background-color: #0c1423;
}
.blog header {
  height: 54vh;
}
.blog main {
  display: flex;
}
.blog aside {
  width: 30%;
  margin-left: 20px;
  margin-top: 40px;
}
.blog aside img {
  position: relative;
  top: 1px;
  left: -20px;
}
.blog aside div {
  background-color: #0f614e;
}
.blog .blogIntro {
  width: 60%;
  margin-left: 105px;
  margin-top: 40px;
}
.blog .blogIntro .heroImage {
  position: relative;
  top: -210px;
  box-shadow: -30px 30px #86e0f9;
  margin-bottom: -225px;
}
.blog .blogIntro .species {
  border-bottom: 5px solid #86e0f9;
  border-left: 5px solid #86e0f9;
  margin-left: -30px;
}
.blog .blogIntro .commentBox {
  max-width: 60%;
  margin: 10px auto;
}
.blog .blogIntro .commentBox #name, .blog .blogIntro .commentBox #email {
  border: none;
  color: white;
  display: inline-block;
  width: 40%;
  height: 20px;
  border-bottom: 2px solid #86e0f9;
  background-color: transparent;
}
.blog .blogIntro .commentBox textarea {
  resize: none;
  display: block;
  width: 50%;
  border: 2px solid #86e0f9;
  background-color: transparent;
  color: white;
}
.blog .blogIntro .blogSubmit {
  width: 90%;
  height: 50px;
  background-color: #0f614e;
}

body {
  background-color: #0c1423;
}

.blog .blogIntro .commentBox {
  max-width: 90%;
  margin: 10px auto;
}
.blog .blogIntro .commentBox textarea {
  width: 90%;
}
.blog .blogIntro .commentBox #name, .blog .blogIntro .commentBox #email {
  width: 44.4%;
  margin: 10px 0;
}

.commentBox #name, .commentBox #email {
  border: none;
  color: white;
  display: inline-block;
  width: 44.5%;
  height: 20px;
  border-bottom: 2px solid #86e0f9;
  background-color: transparent;
  margin: 10px auto;
}
.commentBox textarea {
  display: block;
  width: 40%;
  border: 2px solid #86e0f9;
  background-color: transparent;
  color: white;
}

.contactSubmit {
  width: 90%;
  height: 50px;
  background-color: #0c1423;
  color: #fff;
}

.contactComments {
  display: flex;
  justify-content: center;
  background-color: #0f614e;
  width: 50%;
  position: relative;
  top: -88px;
  left: 30px;
  margin: 0 63px;
}
.contactComments .commentBox textarea {
  display: inline;
  width: 90%;
  border: 2px solid #86e0f9;
  background-color: transparent;
  color: white;
  resize: none;
}

.ourContact {
  display: flex;
  align-content: center;
  justify-content: center;
}

footer {
  background-color: #86e0f9;
}
footer p {
  margin: 0;
  text-align: center;
}

@media (max-width: 1250px) {
  img {
    box-shadow: none;
  }
  .ourContact, .discoverBox1, .profileContainer, .gallery, .monthProfile, .underSea, .discoverBox2 {
    flex-direction: column;
    height: auto;
  }
  .goldfish, .heroImage {
    display: none;
  }
  .connectionsSub {
    flex-direction: row;
    height: auto;
  }
  .banner {
    height: 50vh;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  body {
    width: 100%;
  }
  header {
    height: 50vh;
  }
  .discoverImage1 {
    position: relative;
    top: 0px;
    left: -30px;
  }
  .gallery img {
    padding: 10px;
  }
  .contactComments {
    width: 100%;
    position: unset;
    padding: 0 0px 0 45px;
  }
  .ourContact {
    margin: 0 20%;
  }
  .blog header {
    height: 35vh;
  }
  aside img {
    display: none;
  }
}
@media (max-width: 650px) {
  .blog main {
    flex-direction: column;
  }
  .blog aside {
    width: 90%;
  }
  h2 {
    font-size: 2.7rem;
  }
  .contactComments {
    margin: 5px auto;
    padding: 0px 0px 0 36px;
  }
}
@media (max-width: 450px) {
  .monthText {
    margin-left: 0;
  }
  h1 {
    line-height: 3rem;
    font-size: 3.2rem;
    padding: 0;
  }
  h2 {
    font-size: 2.4rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
  h4 {
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
  }
  .connectionsSub div {
    width: 100%;
    padding: 35px 35px;
  }
  .discoverBox1 div, .discoverBox2 div {
    width: 100%;
    margin: 0;
  }
  .discoverImage1, .discoverImage2 {
    width: 100%;
    display: block;
    height: auto;
    position: unset;
  }
  .blog .blogIntro {
    width: 75%;
    margin-left: 45px;
    margin-top: 15px;
  }
  a {
    margin: 0 5px;
  }
  .monthFish img, .discoverImage1 img, .discoverImage2 img {
    box-shadow: none;
  }
  .toggleButton {
    display: flex;
  }
  .navBarLinks {
    display: none;
    width: 100%;
  }
  .navBarLinks ul {
    flex-direction: column;
    width: 100%;
  }
  .navBarLinks li {
    text-align: center;
  }
  .navBarLinks.active {
    display: flex;
  }
  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }
}
.fa-brands, .fa-solid {
  margin: 0 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.carousel {
  width: 70%;
  height: 90vh;
  position: relative;
  background-color: #0f614e;
  margin: 0 auto;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 1800ms opacity ease;
  transition-delay: 200ms;
}
.slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carouselButtonPrev {
  left: -1rem;
}

.carouselButtonNext {
  right: -1rem;
}

.carouselButtonNext, .carouselButtonPrev {
  z-index: 2;
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.101);
}
.carouselButtonNext :hover, .carouselButtonPrev :hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2) #fff;
}
.carouselButtonNext :focus, .carouselButtonPrev :focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2) #fff;
  outline: 1px solid black;
}/*# sourceMappingURL=styles.css.map */