/* _baseStyles.scss */
header h2 {
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

body {
  margin: 0;
  height: 100%;
}

button {
  font-size: 0.8rem;
  font-weight: 100;
  background-color: #86e0f9;
  padding: 0.75rem 2.25rem;
  border: none;
  margin: 1rem auto;
  cursor: pointer;
}
button:hover {
  background-color: #86e0f9;
  color: #fff;
}
button:focus {
  background-color: #86e0f9;
  color: #fff;
}

.indexMain,
.connections,
.monthProfile {
  background-color: #0c1423;
}

.discover,
.gallery {
  background-color: #0f614e;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 17px;
}
a:hover {
  color: #86e0f9;
}
a:focus {
  color: #86e0f9;
}
a img {
  max-width: 100%;
  display: block;
  height: auto;
}
a .fa-solid {
  color: #fff;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-size: 0.8rem;
  color: #fff;
}

h1,
h2,
h3,
h4,
nav,
button {
  font-family: "Barlow";
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
}

p {
  line-height: 1.3rem;
}

.indexMain {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.indexMain .whatIsUnder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.indexMain h2 {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.discover {
  height: 135vh;
}
.discover .discoverBox1,
.discover .discoverBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.discover .discoverBox1 button,
.discover .discoverBox2 button {
  background-color: #0c1423;
  color: #fff;
  margin: 1rem 0;
}
.discover .discoverBox1 div,
.discover .discoverBox2 div {
  width: 80%;
}
.discover .discoverContent,
.discover .discoverContent2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.discover .discoverContent {
  margin: auto 5% auto 13%;
}
.discover .discoverContent2 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: auto 13% auto 5%;
}
.discover .discoverContent2 p {
  text-align: right;
}
.discover .discoverImage1 {
  position: relative;
  bottom: 35px;
  left: 0%;
  -webkit-box-shadow: 1.75rem 1.75rem #86e0f9;
          box-shadow: 1.75rem 1.75rem #86e0f9;
}
.discover .discoverImage2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 35px;
  right: 0%;
  -webkit-box-shadow: -1.75rem 1.75rem #86e0f9;
          box-shadow: -1.75rem 1.75rem #86e0f9;
}
.discover .connections {
  margin-top: 63px;
  margin-bottom: 10px;
}

.connectionsSub {
  height: 225vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.connectionsSub .connectionsSub__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 5% 5%;
}
.connectionsSub .connectionsSub__info i {
  font-size: 1.5rem;
}
.connectionsSub .connectionsSub__info h3 {
  margin-bottom: 0;
}
.connectionsSub .connectionsSub__info p {
  line-height: 1.3rem;
}

.banner {
  background-image: url(../under-the-sea-assets/banner.jpg);
  height: 45vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.monthProfile {
  height: 70vh;
}
.monthProfile .profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.monthProfile .profileContainer .monthFish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  width: 60%;
}
.monthProfile .profileContainer .monthFish .fishSchool {
  position: absolute;
  top: -12rem;
  left: -4rem;
  -webkit-box-shadow: 1rem 1rem #86e0f9;
          box-shadow: 1rem 1rem #86e0f9;
  width: 100%;
}
.monthProfile .profileContainer .monthText {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.monthProfile .profileContainer .monthText p {
  line-height: 1.3rem;
}
.monthProfile .profileContainer .monthText button {
  margin: 1rem 0;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}
.gallery .galleryBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.gallery .galleryBoxImg {
  margin: auto 1.5%;
  width: 100%;
}
.gallery .galleryBoxImg img {
  width: 100%;
}

header {
  height: 90vh;
}
header .underTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
header .underTitle h1 {
  font-size: 4.4rem;
  padding: 0px 18% 0px;
}

.indexHeader {
  background-image: url(../under-the-sea-assets/header-image.jpg);
}

.blogHeader {
  background-image: url(../under-the-sea-assets/blog-header.jpg);
}

.contactHeader {
  background-image: url(../under-the-sea-assets/contact-header.jpg);
  height: 35vh;
}

.contactHeader,
.blogHeader,
.indexHeader {
  background-size: cover;
  background-repeat: no-repeat;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.headerContent img {
  width: 100%;
  margin-top: 5%;
}

.navBar {
  height: 5%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.navBar li {
  list-style: none;
}
.navBar li a {
  font-size: 1rem;
}

.toggleButton {
  display: none;
  z-index: 10;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}

.toggleButton:hover {
  background-color: rgba(0, 0, 0, 0.123);
}

.navBarLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog {
  background-color: #0c1423;
}
.blog .BlogWrapper {
  width: 85%;
  margin: 0 5%;
}
.blog .blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog header {
  height: 45vh;
  position: relative;
}
.blog header .heroImage {
  position: absolute;
  left: 10%;
  top: 55%;
  width: 90%;
  -webkit-box-shadow: -1rem 1rem #86e0f9;
          box-shadow: -1rem 1rem #86e0f9;
}
.blog header h2 {
  font-size: 2.5rem;
  margin: 10% 12% 0 0px;
}
.blog .aside {
  width: 100%;
  position: relative;
  margin-top: 3rem;
}
.blog .aside .whaleImage {
  position: absolute;
  top: 9%;
  left: 0%;
  width: 100%;
}
.blog .aside .asideBox {
  width: 87%;
  margin-left: 17%;
  height: 25%;
  margin-top: 40%;
  padding-top: 75%;
  background-color: #0f614e;
}
.blog .aside .asideBox .underArticle {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
.blog .aside .asideBox .underArticle ul {
  list-style: circle;
}

.blogIntro {
  width: 90%;
  margin-top: 3.2%;
  margin-left: 6.9%;
}
.blogIntro .species {
  border-bottom: 5px solid #86e0f9;
  border-left: 5px solid #86e0f9;
  margin-left: -0.2%;
  margin-top: 41%;
}
.blogIntro .explaination .discoverSpeciesDate {
  margin: 55px 35px;
}
.blogIntro .explaination .discoverSpeciesDate h2 {
  font-size: 2.3rem;
  margin: 0;
}
.blogIntro .explaination .discoverSpeciesDate p {
  margin: 0;
}
.blogIntro .explaination p {
  margin-left: 35px;
}
.blogIntro h4 {
  font-size: 1.7rem;
  letter-spacing: 0rem;
  margin: 1.4rem auto;
}
.blogIntro .commentBox {
  max-width: 60%;
  margin: 10px auto;
}
.blogIntro .commentBox #name,
.blogIntro .commentBox #email {
  border: none;
  color: white;
  display: inline-block;
  width: 40%;
  height: 20px;
  border-bottom: 2px solid #86e0f9;
  background-color: transparent;
}
.blogIntro .commentBox textarea {
  resize: none;
  display: block;
  width: 50%;
  border: 2px solid #86e0f9;
  background-color: transparent;
  color: white;
}
.blogIntro .blogSubmit {
  width: 90%;
  height: 50px;
  background-color: #0f614e;
}

form button {
  color: white;
}

.commentsPics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.commentsPics img {
  height: 25%;
  width: 30%;
  margin-top: 25px;
  margin-right: 20px;
}

.faIcons {
  font-size: 0.8rem;
}

body {
  background-color: #0c1423;
}
body h2 {
  margin: 7% 6% 0 0;
}

#name,
#email {
  border: none;
  color: white;
  display: inline-block;
  width: 48.5%;
  height: 20px;
  border-bottom: 2px solid #86e0f9;
  background-color: transparent;
  margin: 10px auto;
}

textarea {
  display: block;
  width: 40%;
  border: 2px solid #86e0f9;
  background-color: transparent;
  color: white;
}

.ourContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.ourContact .addressBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10% 5%;
}
.ourContact .addressBox h4 {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  margin: 5% auto;
}
.ourContact .addressBox p {
  margin: 0;
}
.ourContact .contactComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0f614e;
  width: 97%;
}
.ourContact .contactComments .commentBox textarea {
  display: inline;
  width: 97%;
  border: 2px solid #86e0f9;
  background-color: transparent;
  color: white;
  resize: none;
  margin-top: 5%;
}
.ourContact .contactComments .contactSubmit {
  width: 100%;
  height: 50px;
  background-color: #0c1423;
  color: #fff;
}

footer {
  background-color: #86e0f9;
  color: #000;
  text-align: center;
}
footer p {
  margin: 0;
}

@media (min-width: 460px) {
  header .underTitle h1 {
    font-size: 4.8rem;
  }
}
@media (min-width: 540px) {
  header .underTitle h1 {
    font-size: 5.4rem;
  }
}
@media (min-width: 840px) {
  header .underTitle h1 {
    font-size: 7rem;
  }
  .headerContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navBar {
    height: 15%;
  }
  html {
    font-size: 100%;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 110%;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 120%;
  }
  .discover {
    height: 119vh;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 135%;
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 150%;
  }
}
@media (min-width: 2200px) {
  html {
    font-size: 165%;
  }
}
@media (min-width: 2500px) {
  html {
    font-size: 195%;
  }
}
@media (min-width: 2700px) {
  html {
    font-size: 235%;
  }
}
@media (min-width: 3230px) {
  html {
    font-size: 300%;
  }
}
@media (min-width: 4200px) {
  html {
    font-size: 400%;
  }
}
.fa-brands, .fa-solid {
  margin: 0 10px;
}

@font-face {
  font-family: Barlow;
  src: url("../fonts/Barlow/Barlow-Bold.ttf");
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}